version: "3"
services:
  react:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: dockerize-mern-react
    stdin_open: true
    ports: 
      - "3000:3000"
    depends_on: 
      - nodejs
    volumes:
      - ./client:/usr/src/app
    networks:
      - mern-app
  nodejs:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: dockerize-mern-node
    ports:
      - "5000:5000"
    networks:
      - mern-app
    volumes:
      - ./server:/usr/src/app
    command: > 
      bash -c "./wait-for-it.sh mongo:27017
      && npx nodemon index.js" 
    depends_on:
      - mongo
  mongo:
    image: mongo:3.6.19-xenial
    container_name: dockerize-mern-mongo
    ports:
      - "27017:27017"
    networks:
      - mern-app
    volumes:
      - mongo-data:/data/db
networks:
  mern-app:
    driver: bridge
volumes:
  mongo-data:
    driver: local
